# Database
DATABASE_URL="postgresql://username:password@localhost:5432/lms_nextjs"

# Next Auth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"